.otherAuth .btn-facebook:hover{
    background-color: transparent;
    color: black;
}


.otherAuth .btn-facebook{
    background-color: #395b9b;
    color: #fff;
    display: flex;
    align-items: center;
    place-content: center;
}
.otherAuth .btn-facebook:hover{
    border-color: #395b9b;
    color: #395b9b;
}

.otherAuth button img{
    width: 30px;
    margin-right: 10px;
}